{{- /*gotype: github.com/myrjola/petrapp/cmd/petra.homeTemplateData*/ -}}

{{ define "page" }}
    {{ if .BaseTemplateData.Authenticated }}
        {{ template "schedule" . }}
    {{ else }}
        {{ template "unauthenticated" . }}
    {{ end }}
{{ end }}

