{{ define "page" }}
    <html lang="en">
    <head><title>Error - Petrapp</title></head>
    <body>
    <h1>Error</h1>
    <div>
        <button type="button">
            <span>Retry</span>
            <script {{ nonce }}>
              document.currentScript.parentElement.addEventListener('click', function () {
                location.reload();
              });
            </script>
        </button>
    </div>
    </body>
    </html>
{{ end }}
